.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #33414B;
    padding: 10px 81px 30px 74px;
}

.navbar_logo {
    display: flex;
    align-items: center;
    gap: 11px;
}

.logo {
    width: 32.73px;
    height: 24px;
}

.navbar_logo p {
    color: #fff;
}

.navbar_searchbar {
    box-sizing: border-box;
    position: relative;
}

.navbar_searchbar input {
    background-color: transparent;
    border: 0;
    color: #fff;
    width: 488.86px;
    height: 52px;
    border: 1px solid #DFF5EA;
    border-radius: 40px;
    padding: 0 33px;
}

.ipt-placeholder::placeholder {
    color: white;
}

.navbar-search-icon {
    position: absolute;
    top: 25%;
    right: 14px;
    font-size: 25px;
    background: #6ED9A1;
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;
}

.navbar_static_icon {
    display: flex;
    gap: 20px;
    color: #fff;
}

.icon {
    width: 22px;
    height: 22px;
}