.categorysubmenu_container {
    display: flex;
    background-color: #29363F;
    border-top: 0;
    border-bottom: 0.5px solid #DFF5EA50;
    height: 60px;
    padding: 0px 70px;
    align-items: center;
}

.all_categories {
    padding-right: 30px;
}

.categorysubmenu_container hr {
    height: 40px;
    width: 0;
    opacity: 0.5;
}

.categorysubmenu_container ul {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    margin: 0 30px;
}

.categorysubmenu_container a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.categorysubmenu_container a.active {
    color: #6ED9A1;
}